/* General Body Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color:  #021a3f;
}

/* Headings */
h1, h2, h3, h4{
  color: #021a3f; 
}

.white{
    color: #feffff;
}

/* Navbar */
.navbar {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Buttons */
.btn-primary, .btn-success {
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 30px;
}

/* Contact Form */
form input, form textarea {
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: none;
}

form input:focus, form textarea:focus {
  border-color: #021a3f;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.2);
}

/* Project Images */
img, .img-fluid {
  max-width: 30%;
  height: auto;
  border-radius: 10px;
}

/* Footer */
footer {
  background-color: #021a3f;
  color: #7b7272;
}

.rounded-circle {
  border: 1px solid #021a3f;
  padding: 3px;
}

/* Section Padding */
 .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
